<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고 거래 사이트</title>
</head>
<body>
    <h1>[ 중고 거래 사이트 ]</h1>
    <ul>
        <li><a th:href="{@/user/join}">회원가입</a></li>
        <li><a th:href="{@/user/login}">로그인</a></li>
        <li><a href="">로그아웃</a></li>
        <li><a href="">판매정보 게시판</a></li>
        <li><a href="">판매상품 검색</a></li>
    </ul>
</body>
</html>