<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--CSS 설정-->
    <link rel="stylesheet" th:href="@{/css/user.css}">
    
</head>
<body>    
    <div class="container">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/logo2.png}" alt="logo"></a>
            <h2>로그인</h2>
        </div>
    </div> <!-- .container 끝 -->

    <div class="content">
        <form th:action="@{/user/loginProc}" method="post">
            <div class="section pointColor">
                <div class="article">
                    <ul>
                        <li>
                            <i class="fa-solid fa-fingerprint"></i>
                            <input type="text" name="userId" placeholder="ID 입력">
                        </li>
                        <li>
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="userPwd" placeholder="Password 입력">
                        </li>
                    </ul>
                    <!--넘겨온 error값이 true일 경우 보여줄 error메시지 표시-->
                    <th:block th:if="${error}">
                        <div th:text="${errMessage}" style="font-size:0.8em; color:red;"></div>
                    </th:block>

                    <div class="btns">
                        <input type="submit" id="submitBtn" value="로그인" class="btn btn-primary">
                        <input type="reset" id="resetBtn" value="초기화" class="btn btn-secondary">
                    </div>

                </div>
            </div>
        </form>
    </div> <!--.content-->
</body>
</html>