@charset "UTF-8";
@import "main.css";

div.content {
    width: 1000px;
    margin: 0 auto;
}

/******************************
    검색창, 글개수 출력부분(상단)
******************************/
div.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.search {
    width: 550px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

select {
    width: 150px;
    height: 32px;
    border: 0px;
    outline: 1px solid rgb(21, 18, 190);
    border-radius: 10px;
}

input[type='text'] {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(21, 18, 190);
}

input[type="text"] {
    width: 300px;
}

/******************************
        게시글 목록 테이블
******************************/


/******************************
        글쓰기 버튼
******************************/
div.write {
    margin-top: 10px;
    text-align: right;
}

/******************************
        Pagination
******************************/
nav.pagination {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
}

/* 제목과 첨부파일 정렬 설정 */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}