@charset "UTF-8";
/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&display=swap');

/* 모든 페이지에서 동일하게 적용되는 CSS 설정 */
/******************************
    페이지 전체 글꼴 설정
******************************/
*,
pre {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/******************************
    페이지 전체 제목 글꼴/정렬
******************************/
div.container {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

div.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

h2 {
    font-weight: 600;
    font-size: 36px;
    padding-left: 20px;
}

/******************************
        네비게이션 정렬
******************************/
ul,
li {
    padding: 0 20px;
    display: inline-block;
    list-style-type: none;
    font-weight: 400;
}

/******************************
            링크 
******************************/
a {
    text-decoration: none;
    color: rgb(21, 18, 190);
    display: inline-block;
    width: auto;
}

a:hover {
    color: black;
    font-weight: bold;
}

/******************************
    input 상자 모양 설정
******************************/
input[type="text"],
input[type="password"] {
    width: auto;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(21, 18, 190);
    padding-left: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: black;
    background-color: rgb(222, 228, 248);
    outline: none;
}

/******************************
    button 모양 설정
******************************/
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-info {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/******************************
    테이블 모양 설정
******************************/

table {
    width: 1000px;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

th {
    background-color: #eee;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}

td {
    padding: 10px;
    text-align: center;
}