@import "main.css";

/* 회원가입 / 로그인 화면 */
.content {
    width: 1400px;
    margin: 0 auto;
}

.content .section {
    padding: 80px;
    border-radius: 20px;
}

.section>.article {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
}

.section>.article>ul {
    margin: 10px auto;
}

.section>.article>ul>li {
    color: #ccc;
    width: 95%;
}

.section>.article>ul>li>input {
    /* 전체 영역 100%에서 아이콘, 여백 등의 크기(60px)을 뺀 나머지 여백을 폭으로 지정하기 */
    width: calc(100% - 60px);
    background-color: #f7f7f7;
    /* 시계방향, 위쪽 오른쪽 아래쪽 왼쪽 */
    margin: 10px 0 0 10px;
    padding: 10px;
    /* 부모 것을 상속받음 */
    border: inherit;
}

.btns {
    text-align: center;
    margin-top: 30px;
}

.content .section.pointColor {
    background: linear-gradient(45deg, rgba(78,197,217,1) 0%, rgba(38,59,151,1) 100%);
}