<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>초간단 계산기</title>
</head>
<body>
    <h2>초간단 계산기</h2>
    <form action="calculate" method="get">
        <label for="x">x: </label>
        <input type="number" id="x" name="x" placeholder="숫자를 입력하세요">

        <label for="y">y: </label>
        <input type="number" id="y" name="y" placeholder="숫자를 입력하세요">

        <input type="submit" value="전송">
        <input type="reset" value="취소">
    </form>
</body>
</html>