<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf text 출력</title>
</head>
<body>
    <h2>[ Thymeleaf text 출력 ]</h2>
    <div>
        <!-- context-path를 달고다니기 위해 외부파일을 가져오거나 링크를 걸때는 항상 th:와 @{/}붙여야함-->
        <a th:href="@{/}"> 
            <img th:src="@{/images/home.png}" alt="logo">
        </a>
    </div>

    <h3>1. 문자 출력</h3>
    <p>한글: <span th:text="${korean}">한글</span></p>
    <p>영어: <span th:text="${english}">영어</span></p>
    <p>나이: <span th:text="${age}">정수</span></p>
    <p>원주율: <span th:text="${pi}">실수</span></p>
    <p>태그: <span th:text="${tag}">태그</span></p> <!--태그가 일반 문자열로 표현됨-->
    <p>태그: <span th:utext="${tag}">태그</span></p> <!--utext: 태그를 태그로 인식함-->
    <p>URL: <span th:text="${url}">네이버</span></p>
    <p>URL: <a th:href="${url}" th:text="${url}">네이버</a></p>  <!-- @{/}안써도 외부링크 걸림-->

    <hr>
    <h3>2. 태그 안쪽에 Thymeleaf 문법 사용 시</h3>
    <p>한글: [[ ${korean} ]]</p>
    <p>한글: ${korean}</p>

    <hr>
    <h3>3. 객체 데이터(FriendDTO) 꺼내기</h3>
    <p>전체데이터: [[ ${f1} ]]</p>
    <p>이름: [[ ${f1.fname} ]]</p>
    <p>나이: [[ ${f1.age} ]]</p>
    <p>전화번호: [[ ${f1.phone} ]]</p>
    <p>생년월일: [[ ${f1.birthday} ]]</p>
    <p>성향: [[ ${f1.active} ]]</p>

    <hr>
    <h3>4. 객체 데이터(FriendDTO) 꺼내기(초기화된 데이터)</h3>
    <p>전체데이터: <span th:text="${f2}">삼장법사</span></p>
    <p>이름: <span th:text="${f2.fname}"}>삼장법사</span></p>
    <p>나이: <span th:text="${f2.age}">삼장법사</span></p>
    <p>전화번호: <span th:text="${f2.phone}">삼장법사</span></p>
    <p>생년월일: <span th:text="${f2.birthday}"}>삼장법사</span></p>
    <p>성향: <span th:text="${f2.active}">삼장법사</span></p>

    <hr>
    <h3>5. 객체 데이터(FriendDTO) 꺼내기-2(초기화된 데이터)</h3>
    <p th:object="${f3}"> <!-- 태그에 text가 아닌 object임을 알려줌-->
        이름: <span th:text="*{fname}">사오정</span><br> <!--f3 객체의 fname 속성을 가져옴-->
        나이: <span th:text="*{age}">사오정</span><br> 
        전화번호: <span th:text="*{phone}">사오정</span><br> 
        생년월일: <span th:text="*{birthday}">사오정</span><br> 
        성향: <span th:text="*{active}">사오정</span><br> 
    </p> 
    
    <hr>
    <h3>6. 숫자 데이터 출력(숫자 그대로 꺼내기)</h3>
    <p>
        정수: <span th:text="${n1}">정수</span>
        실수: <span th:text="${n2}">실수</span> <!-- _이나, 출력이 안됨 -->
        실수: <span th:text="${n3}">실수</span> 
    </p>

    <hr>
    <h3>7. 숫자 데이터 출력(formatting)</h3>
    <p>
        정수: <span th:text="${#numbers.formatInteger(n1, 10)}">정수</span> <br> <!--(변수명, 몇자리까지 표현할건지)-->
        정수: <span th:text="${#numbers.formatInteger(n1, 3, 'COMMA')}">정수</span> <br> <!--3자리마다 콤마-->

        실수: <span th:text="${#numbers.formatDecimal(n2, 3, 'COMMA', 2, 'POINT')}">실수</span> <br> <!--3자리마다 콤마 소수점 이하 둘째자리까지-->
        실수: <span th:text="${#numbers.formatDecimal(n3, 3, 'COMMA', 4, 'POINT')}">실수</span> <br> <!--(변수명, 정수자리 n자리까지 표현), 5번쨰자리에서 반올림되어서 4째자리까지 표현-->
        
        백분율: <span th:text="${#numbers.formatPercent(n4, 0, 5)}">백분율</span> <br> <!--(변수명, 정수자릿수, 소수점 자릿수)-->
        백분율: <span th:text="${#numbers.formatPercent(n4, 2, 2)}">백분율</span> <br> <!--정수자릿수가 0이면 변수의 숫자만큼 출력-->

        백분율: <span th:text="${#numbers.formatPercent(n5, 0, 5)}">백분율</span> <br> 
        백분율: <span th:text="${#numbers.formatPercent(n5, 2, 2)}">백분율</span> <br>
    </p>

    <hr>
    <h3>8. 날짜 관련 데이터 출력(포맷팅없이 날짜 그대로 꺼내기)</h3>
    <p>
        Date: <span th:text="${date}">date</span> <br>
        Calendar: <span th:text="${calendar}">calendar</span> <br>
        LocalDate: <span th:text="${localDate}">localDate</span> <br>
        LocalDateTime: <span th:text="${today}">today</span> <br>
    </p>

    <hr>
    <h3>9. 날짜 관련 데이터 출력(formatting)</h3>
    <p>
        Date: <span th:text="${#dates.format(date, 'yyyy년 MM월 dd일 HH시 mm분')}">date</span> <br>
        Calendar: <span th:text="${#calendars.format(calendar, 'yyyy/MM/dd HH:mm')}">calendar</span> <br>
        LocalDate: <span th:text="${#temporals.format(localDate, 'yyyy-MM-dd HH:mm')}">localDate</span> <br> <!--시간이 없어서 00:00-->
        LocalDateTime: <span th:text="${#temporals.format(today, 'yyyy-MM-dd HH:mm')}">today</span> <br> <!--hh:12시간제, HH:24시간제-->
    </p>

</body>
</html>