<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf 연산자</title>
</head>

<body>
    <h2>[ Thymeleaf 연산자 ]</h2>
    <div>
        <a th:href="@{/}">
            <img th:src="@{/images/home.png}" alt="logo">
        </a>
    </div>

    <h3>18. 산술 연산자(+ - * /(소수점연산함) %)</h3>
    <ul>
        <li>값 : [[ ${intNum} ]]</li>
        <li>값 + 10 : <span th:text="${intNum} + 10">결과</span></li>
        <li>값 - 10 : <span th:text="${intNum} - 10">결과</span></li>
        <li>값 * 22 : <span th:text="${intNum} * 22">결과</span></li>
        <li>값 / 10 : <span th:text="${intNum} / 10">결과</span></li>
        <li>값 % 3 : <span th:text="${intNum} % 3">결과</span></li>
        <br>
        <li>값 : [[ ${dbNum} ]]</li>
        <li>값 / 10 : <span th:text="${dbNum} / 10">결과</span></li> <!--엄청 긴 소수, 42.195를 이진수로 변환하면서 생긴 값들이 노출돼서-->
        <li>값 % 3 : <span th:text="${dbNum} % 3">결과</span></li>
    </ul>

    <hr>
    <h3>19. 문자열 결합(+, |)</h3>
    <ul>
        <li>+ 기호결합: <span th:text="'Hello, ' + ${name} + ' nice to meet you!'">문자열</span></li>
        <li>| 기호결합: <span th:text="|Hello, ${name} nice to meet you!|">문자열</span></li> <!--| 문자열과 변수를 섞어쓸때 |-->
        <li>+,| 기호결합-2: <span th:text="${one} + '=>' + |${two}, ${three}, 너구리, 오징어|">문자열</span></li>
    </ul>

    <hr>
    <h3>20. 비교 연산 / 논리 연산 / 조건 연산</h3>
    <ul>
        <li>값: [[ ${intNum} ]]</li>
        <li>비교 연산 ==(eq): <span th:text="${intNum} % 2 eq 0"></span></li>
        <li>비교 연산 !=(ne): <span th:text="${intNum} % 2 ne 0"></span></li>
        <li>비교 연산 > (gt): <span th:text="${intNum} % 2 gt 0"></span></li>
        <li>비교 연산 >=(ge): <span th:text="${intNum} % 2 ge 0"></span></li>
        <li>비교 연산 &lt; (lt): <span th:text="${intNum} % 2 lt 0"></span></li>
        <li>비교 연산 &lt;= (le): <span th:text="${intNum} % 2 le 0"></span></li>
        <br>
        <li>논리 연산 (and): <span th:text="${intNum} > 10 and ${intNum} < 30"></span></li>
        <li>논리 연산 (or): <span th:text="${intNum} > 10 or ${intNum} < 30"></span></li>
        <li>논리 연산 (not): <span th:text="not(${intNum} % 2 == 0)"></span></li>
        <li>조건 연산 (? :): <span th:text="${intNum} % 2 == 0 ? |${intNum}는 짝수| : ${intNum}+'는 홀수'"></span></li>
    </ul>

    <hr>
    <h3>21. FriendDTO 객체를 사용하여 작업</h3>
    <ul th:object="${friend}">
        <li>이름: <span th:text="*{fname}"></span></li>
        <li>나이: <span th:text="*{age}"></span></li>
        <li>전화번호: <span th:text="*{phone}"></span></li>
        <li>생년월일: <span th:text="*{birthday}"></span></li>
        <li>성향: <span th:text="*{active} ? '외향적' : '내향적'"></span></li>
    </ul>
</body>

</html>