<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf Collection 처리</title>
    <style>
        .mystyle { /* 조건에 따라 스타일 입히기 */
            color: blueviolet;
            font-weight: 800;
        }
    </style>
</head>
<body>
    <h2>[ Thymeleaf Collection 처리 ]</h2>
    <div>
        <a th:href="@{/}"> 
            <img th:src="@{/images/home.png}" alt="logo">
        </a>
    </div>

    <h3>11. List 데이터 처리</h3>
    <p>List: <span th:text="${list}"></span></p>

    <p>List size(#lists): <span th:text="${#lists.size(list)}"></span></p>
    <p>List size: <span th:text="${list.size()}"></span></p>
    <p>isEmpty(#arrays): <span th:text="${#arrays.isEmpty(list)}"></span></p>
    <p>isEmpty: <span th:text="${list.isEmpty()}"></span></p>
    <p>List를 문자열로 변환(Join): <span th:text="${#strings.arrayJoin(list, ',')}"></span></p>
    <p>문자열을 list로 변환(Split): <span th:text="${#strings.listSplit(lunch, ',')}"></span></p>
    <p>특정 문자열의 포함여부 확인: <span th:text="${#lists.contains(list, '딸기')}"></span></p>

    <hr>
    <h3>12. Map 데이터 처리</h3>
    <p>Map: <span th:text="${map}"></span></p>

    <p>HashMap의 Key 존재여부(containsKey): <span th:text="${map.containsKey('kim')}">HashMap</span></p>
    <p>HashMap의 데이터 존재여부(isEmpty): <span th:text="${map.isEmpty()}">HashMap</span></p>
    <p>HashMap size(#maps): <span th:text="${#maps.size(map)}">HashMap</span></p>
    <p>HashMap size: <span th:text="${map.size()}">HashMap</span></p>

    <hr>
    <h3>13. 반복문의 사용(일반 문자열 배열)</h3>
    <ul th:each="str:${list}"> <!--for(String s : list)-->
        <li th:text="${str}"></li>
    </ul>

    <hr>
    <h3>14. 반복문의 사용(객체 배열)</h3>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>전화번호</th>
            <th>생년월일</th>
            <th>성향</th>
        </tr>
        <tr th:each="friend:${friendList}">
            <td th:text="${friend.fname}">이름</td>
            <td th:text="${friend.age}">나이</td>
            <td th:text="${friend.phone}">전화번호</td>
            <td th:text="${friend.birthday}">생년월일</td>
            <td th:text="${friend.active} ? '외향적' : '내향적' ">성향</td> <!--삼항연산자 사용 (조건)?(참일때실행):(거짓일떄실행)-->
        </tr>
    </table>

    <hr>
    <h3>16. 반복문의 사용(Map에 들어있는 정보)</h3>
    <p>저장된 친구 수: [[ ${map.size()} ]]</p>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>나이</th>
            <th>전화번호</th>
            <th>생년월일</th>
            <th>성향</th>
        </tr>
        <tr th:each="friend, status:${map}">
            <td th:text="${status.count}">상태</td>
            <td th:text="${friend.value.fname}">이름</td> <!--friend.value.getFname()-->
            <td th:text="${friend.value.age}">나이</td>
            <td th:text="${friend.value.phone}">전화번호</td>
            <td th:text="${friend.value.birthday}">생년월일</td>
            <td th:text="${friend.value.active} ? '외향적' : '내향적' ">성향</td> <!--삼항연산자 사용 (조건)?(참일때실행):(거짓일떄실행)-->
        </tr>
    </table>

    <hr>
    <h3>17. 반복문과 상태값</h3>
    <ul>
        <li th:each="num, status:${numList}">
            <span>index: [[ ${status.index} ]], count: [[ ${status.count} ]]</span>
            <span th:if="${status.index % 5 == 0}" th:text="${num}" th:class="'mystyle'"></span> <!-- th:if=${조건식} th:text=${참일시 출력값} th:class="스타일클래스명"-->
            <span th:unless="${status.index % 5 == 0}">---------------------</span> <!--${}가 아닐경우-->
        </li>
    </ul>
</body>
</html>