<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구 정보 수정</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <h2>[ 친구 정보 수정 ]</h2>

    <form th:action="@{/updateProc}" method="post" th:object="${friendDTO}">
        <input type="hidden" name="friendSeq" th:value="${friendDTO.friendSeq}">
        <label for="fname">
            이름:
            <input type="text" name="fname" id="fname" th:value="${friendDTO.fname}" placeholder="이름 입력"
                th:field="*{fname}">
            <span class="error" th:errors="*{fname}"></span>
        </label> <br>
        <label for="age">
            나이:
            <input type="number" name="age" id="age" th:value="${friendDTO.age}" placeholder="나이 입력" th:field="*{age}">
            <span class="error" th:errors="*{age}"></span>
        </label> <br>
        <label for="phone">
            전화번호:
            <input type="text" name="phone" id="phone" th:value="${friendDTO.phone}" placeholder="전화번호 입력"
                th:field="*{phone}">
            <span class="error" th:errors="*{phone}"></span>
        </label> <br>
        <label for="birthday">
            생년월일:
            <input type="date" name="birthday" id="birthday" th:value="*{birthday}">
            <span class="error" th:errors="*{birthday}"></span>
        </label> <br>
        <label for="active">
            성향:
            <!--th:checked: 기존에 저장된 성향값 가져오기, 두개가 반대의 값이기에 하나는 not을 붙여줘야함-->
            <input type="radio" name="active" value="1" th:checked="${friendDTO.active}">외향적
            <input type="radio" name="active" value="0" th:checked="not ${friendDTO.active}">내향적
        </label> <br>

        <input type="submit" value="수정">
        <input type="reset" value="취소">
    </form>
</body>

</html>