<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ 방명록 작성 ]</title>
</head>

<body>
    <div class="insert">
        <h2>방명록을 남겨주세요 !</h2>
        <form th:action="@{/insert}" method="post">
            <label for="name">방문자 이름: </label>
            <input type="text" id="name" name="name" placeholder="이름 입력"> <br>

            <label for="pwd">비밀번호 설정: </label>
            <input type="password" id="pwd" name="pwd" placeholder="비밀번호 입력"> <br>

            <label for="content">방명록 내용: </label> <br>
            <textarea name="content" id="content" cols="30" rows="10" placeholder="방명록 입력"></textarea> <br>

            <div class="btns">
                <input type="submit" value="저장">
                <input type="reset" value="취소">
            </div>

        </form>
    </div>
</body>

</html>