<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script defer th:src="@{/script/login.js}"></script>
</head>
<body>
    <h1>[ 로그인 ]</h1>

    <div class="content">
        <form th:action="{@/user/joinProc}" method="post">
            <div id="memberId">
                ID
                <input type="text" id="memberId" name="memberId" placeholder="아이디 입력"> 
            </div>
            <div id="memberPw">
                Password
                <input type="password" id="memberPw" name="memberPw" placeholder="비밀번호 입력"> 
            </div>

            <div class="btns">
                <input type="submit" id="submitBtn" value="Login">
            </div>
        </form>
    </div>
</body>
</html>